$padding: 25rpx;
$tab-bar-height: 100rpx;
$nav-bar-height: 80rpx;
$nav-height: 44rpx;
$c-bg: #f5f5f5;

$size-1: 22rpx;
$size-2: 24rpx;
$size-3: 26rpx;
$size-4: 28rpx;
$size-5: 30rpx;
$size-6: 32rpx;
$size-7: 34rpx;
$size-8: 36rpx;

$size-nav-title: 0.34rem;

// global
$c-main: #00a6ff;
$c-white: #fff;
$c-back: #e6e6e6;
$c-backColor: #f5f5f5;
$c-blue: #519dda;
$c-orange: #f84a10;
$nav-bar-color: #f6f7fb;

// level
$color-1: #333333;
$color-2: #666666;
$color-3: #999999;
$color-4: #ffffff;
$color-7: #777777;
$color-e: #eeeeee;
$color-d: #dddddd;
$color-x: #dfdfdf;

// feature
$color-black: #000000;
$color-red: #e9142b;
$color-blue: #519dda;
$color-orange: #ff6324;
$color-seg: #d9d9d9;
$color-gray: #aaaaaa;
$color-back: #f6f6f6;
$color-white: #ffffff;
$color-green: #18b465;
$color-yellow: #fccf18;


// short
$c-333: #333;
$c-999: #999;
$c-666: #666;
$c-5f5f5f: #5f5f5f;
$c-dcdcdc: #dcdcdc;
$c-ff5400: #ff5400;
$c-ef8639: #ef8639;
$c-00a6ff: #00a6ff;

// field
$c-buy: #ff0000;

// border
$c-border: #d7d7d7;
$c-border-dfdfdf: #dfdfdf;
$c-border-e5e5e5: #e5e5e5;



//constant by zhx
$color-font: #2c3e50;

$xg-size-0: 10px;
$xg-size-1: 11px;
$xg-size-2: 12px;
$xg-size-3: 13px;
$xg-size-4: 14px;
$xg-size-5: 15px;
$xg-size-6: 16px;
$xg-size-7: 17px;
$xg-size-8: 18px;
$xg-size-9: 19px;
$xg-size-10: 20px;


$xg-c-bg: #f4f4f4;
$xg-c-black: rgb(0, 0, 0);
$xg-c-white: rgb(255, 255, 255);
$xg-c-blue: #6da3fd;
$xg-c-red: #9e3631;
$xg-c-seg: #f6f6f6;

$xg-footer-height: .88rpx;
$xg-nav-height: .88rpx;
