@import "./constant.scss";
@import "./space.scss";
@import "./flex.scss";
@import "./other.scss";
@import "./reset.scss";

@mixin ellipsis($num: 1) {
  display: -webkit-box ;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $num;
}

//清除浮动
@mixin clearfix() {
  &:after {
    clear: both;
    content: '';
    display: block;
    height: 0;
    line-height: 0;
    overflow: hidden;
  }
}
