/*
页面原有格式重置
*/


view, label, text, input, scroll-view, button{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button::after{
  border:none;
}
//
//a {
//  text-decoration: none;
//}
//
//ul, li, ol {
//  list-style: none;
//}
//
//address, caption, cite, code, dfn, em,
//h1, h2, h3, h4, h5, h6, strong, th, var {
//  font-weight: normal;
//  font-style: normal;
//}
//
//article, aside, canvas, details, figcaption, figure,
//footer, header, hgroup, menu, nav, section, summary {
//  display: block;
//}
//
//button {
//  border: 0;
//}
//
//:focus {
//  outline: 0;
//}
//
//i {
//  font-style: normal;
//}
//
//fieldset, img {
//  border: none;
//}

/*img{*/
/*display: block;*/
/*}*/

//input {
//  outline: 0;
//  border: 0;
//  -webkit-appearance: none;
//}
//
//div::-webkit-scrollbar, ul::-webkit-scrollbar {
//  display: none
//}
