.ml0{
  margin-left: 0;
}

.ml1{
  margin-left: 16rpx;
}

.ml2{
  margin-left: 20rpx;
}

.ml3{
  margin-left: 30rpx;
}

.ml4{
  margin-left: 40rpx;
}

.mr0{
  margin-right: 0;
}

.mr1{
  margin-right: 16rpx;
}

.mr2{
  margin-right: 20rpx;
}

.mr3{
  margin-right: 30rpx;
}

.mr4{
  margin-right: 40rpx;
}

.pl0{
  padding-left: 0;
}

.pl1{
  padding-left: 16rpx;
}

.pl2{
  padding-left: 20rpx;
}

.pl3{
  padding-left: 30rpx;
}

.pl4{
  padding-left: 40rpx;
}

.pr0{
  padding-right: 0;
}

.pr1{
  padding-right: 16rpx;
}

.pr2{
  padding-right: 20rpx;
}

.pr3{
  padding-right: 30rpx;
}

.pr4{
  padding-right: 40rpx;
}