/**
 * Created by jbz on 2018/4/4.
 */

/*
 todo 确认订单失败  具体情况
 下单失败(100, "下单失败"),
 待支付(110, "待支付"),
 未支付(120, "未支付"),
 未支付_取消订单_成功(121, "未支付_取消订单_成功"),
 未支付_取消订单_失败(122, "未支付_取消订单_失败"),
 支付中(130, "支付中"),
 支付失败_支付超时(140, "支付失败，支付超时"),
 支付失败_银行反馈(150, "支付失败，银行反馈"),
 支付失败_原因未知(160, "支付失败，原因未知"),
 支付失败_用券或积分不符合要求(170, "支付失败,用券或积分不符合要求"),
 已支付(300, "已支付"),
 待收货(310, "待收货"),
 确认失败(320, "确认失败"),
 确认失败_退款失败(330, "确认失败，退款失败"),
 确认失败_已退款(340, "确认失败，已退款"),
 已签收(400, "已签收"),     //待评论
 已拒收(500, "已拒收"),
 已拒收_退款失败(510, "已拒收，退款失败"),
 已拒收_已退款(520, "已拒收，已退款"),
 交易完成(600, "交易完成");  //已评论
 */

var xdsb = [100];
// 下单失败
var wzf = [110];
// 未支付
var yqx = [121, 120, 122];
// 已取消
var zfz = [130];
// 支付中
var zfsb = [140, 150, 160, 170];
// 支付失败
var yzf = [300];
// 已支付
var dsh = [310];
// 待收货
var qrsb = [320, 330, 340];
// 确认失败
var yqs = [400];
// 已签收
var yjs = [500];
// 已拒收
var tksb = [510];
// 退款失败
var ytk = [520];
// 已退款
var jycg = [600];
// 已完成


module.exports = {
  status2CN: function (status) {
    if (xdsb.indexOf(status) >= 0) {
      return '下单失败'
    } else if (wzf.indexOf(status) >= 0) {
      return '未支付'
    } else if (yqx.indexOf(status) >= 0) {
      return '已取消'
    } else if (zfz.indexOf(status) >= 0) {
      return '支付中'
    } else if (zfsb.indexOf(status) >= 0) {
      return '支付失败'
    } else if (yzf.indexOf(status) >= 0) {
      return '已支付'
    } else if (dsh.indexOf(status) >= 0) {
      return '待收货'
    } else if (qrsb.indexOf(status) >= 0) {
      return '确认失败'
    } else if (yqs.indexOf(status) >= 0) {
      return '已签收'
    } else if (yjs.indexOf(status) >= 0) {
      return '已拒收'
    } else if (tksb.indexOf(status) >= 0) {
      return '退款失败'
    } else if (ytk.indexOf(status) >= 0) {
      return '已退款'
    } else if (jycg.indexOf(status) >= 0) {
      return '交易成功'
    } else {
      return ''
    }
  }
}
